@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border:none;
}

body {
    font-family: Mohave;
}

#header-background {
    background-image: url('../images/header.jpg');
    height: 450px;
    width: 100%;
    top: 0;
}

.big-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }


/* header above */


.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #d6a073;
    color: white;
  }

  /* Navigation Bar Above */

  .welcome-info {
      background: rgb(223, 217, 217);
      padding: 50px 0;
      bottom: 0%;
  }

  .row {
      margin-left: 50px;
      margin-right: 15px;
  }

  .contact-details {
      list-style: none;
  }

  .contact-header {
      font-size: 350%;
  }

  .address {
    font-size: 150%;
  }

  .phone {
    font-size: 125%;
  }

  .email {
    font-size: 125%;
  }

   /* Image Info */

   .container {
     display: flex;
     height: 600px;
     flex-wrap: nowrap;
     align-content: flex-start;
     justify-content: space-around;
   }

   /* Footer */

  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #555;
    color: white;
    text-align: center;
  }

   /* Home Page Desc */

   .description {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 1050px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .container {
  border: 1px solid rgb(252, 252, 252);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: rgb(206, 206, 206); /* Fallback color */
  background-color: rgba(235, 230, 230, 0.7); /* Black w/opacity/see-through */
}

.item {
  border: 1px dashed blue;
  height: 50px;
}

  /* media #1 */

#@media screen and (max-width: 1300px) {
    .container {
      display: flex;
      flex-direction: column;
      height: 600px;
      flex-wrap: nowrap;
      align-content: flex-start;
      justify-content: space-;
    }
  }

